.ux-select {
  width: 50% !important; /* Принудительно меняю стиль элемента который создается библиотекой  ux-select для селекта*/
}

.cat-card {
  position: relative; /* чтобы loader отобразить */
  min-height: 200px;

  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.cat-name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
  text-align: left;
}

.cat-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

/* --- Левая колонка --- */
.cat-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cat-image {
  display: block;
  margin: 0 auto;

  width: 100%;
  height: 600px;

  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.cat-image:hover {
  transform: scale(1.03);
}

.cat-description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.cat-origin,
.cat-temperament {
  font-size: 14px;
  color: #666;
}

.label {
  font-weight: 600;
  color: #444;
}

/* --- Правая колонка --- */
.cat-traits {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.traits-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

/* --- Список traits --- */
.traits-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.trait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.trait:hover {
  background-color: #e6f2ff;
}

.trait-text {
  font-weight: 500;
  color: #222;
}

dd {
  margin: 0;
  font-weight: 600;
  color: #0077cc;
}

@media (max-width: 768px) {
  .cat-content {
    grid-template-columns: 1fr;
  }
}
