@import './styles/weather.css';
@import './styles/catInfo.css';
@import './styles/movieWidget.css';
@import './styles/footer.css';

#app {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f9fafb;
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr;
  }
}

/* Контейнер основного контента */
.content {
  padding: 32px;
  background-color: #fafafa;
}
